.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 50%;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3LjIgNC4wMSI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5jbHMtMSB7CiAgICAgICAgZmlsbDogbm9uZTsKICAgICAgICBzdHJva2U6ICNmZmY7CiAgICAgICAgc3Ryb2tlLWxpbmVqb2luOiByb3VuZDsKICAgICAgICBzdHJva2Utd2lkdGg6IC43cHg7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+CiAgICA8cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iLjM1IC4zNSA2Ljg1IC4zNSAzLjU0IDMuNjYgLjM1IC4zNSIvPgogIDwvZz4KPC9zdmc+) no-repeat 98% 50%;
    background-size: 10px;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 5px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

.c-sidebar-brand .c-sidebar-brand-full:hover {
    color: inherit;
}

.custom-select.form-control-sm {
    padding: 0.25rem 1.5rem;
}

div.dt-buttons {
    margin-top: 40px;
}

#DataTables_Table_0_wrapper .dt-search input {
    width: 300px;
}

.menu-profile-link a:hover {
    text-decoration: none;
}

.c-sidebar .c-sidebar-brand {
    background: #344A9B;
}

.c-sidebar {
    background: #344A9B;
}

#sidebar.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    background: #fff;
    color: #000;
}

#sidebar.c-sidebar .c-sidebar-nav-link:hover {
    background: #fff;
    color: #000;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle:hover .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link:hover .c-sidebar-nav-icon {
    color: #000;
}

.asp-logo {
    width: 250px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 2px;
}

.card-claim-notes .card-body p {
    margin-bottom: 2px;
}

.card-claim-notes .card-body {
    padding: 10px 20px;
}

.recent-activities .item {
    padding: 0 15px;
    border-bottom: 1px solid #eee
}

.recent-activities .item div[class*='col-'] {
    padding: 15px
}

.recent-activities .icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #f5f5f5;
    text-align: center;
    display: inline-block
}

.recent-activities .date {
    font-size: 0.75em;
    color: #999;
    padding: 10px
}

.recent-activities .date-holder {
    padding: 0 !important;
    border-right: 1px solid #eee
}

.recent-activities .item .content {
    min-height: 125px;
}

.recent-activities .item .add-comment {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 1;
}

.recent-activities > .item.collapsed {
    max-height: 200px;
    position: relative;
    overflow:hidden;
}

.recent-activities > .item.collapsed:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
}

.recent-activities .add-comment:hover {
    text-decoration: none;
    filter:brightness(.7);
}

.recent-activities .item.task .content {
    position: relative;
}

.recent-activities > .item.task.collapsed .content {
    position: initial;
}

.recent-activities .item.task .content .status {
    position: absolute;
    right: 15px;
    top: 15px;
    color: white;
}

.recent-activities .item.comment,
.recent-activities .item.form {
    padding: 0;
    border-bottom: 0;
    
}

.recent-activities .item.comment .row,
.recent-activities .item.form .row {
    border-top: 1px solid #eee;
}


.recent-activities .item.comment .p-0,
.recent-activities .item.form .p-0 {
    border-right: 1px solid #eee;
    background-color: #eee;
}

.recent-activities .item.form {
    display: none;
}


.card-close {
    position: absolute;
    top: 15px;
    right: 15px
}

.card-close .dropdown-toggle {
    color: #999;
    background: none;
    border: none
}

.card-close .dropdown-toggle:after {
    display: none
}

.card-close .dropdown-menu {
    border: none;
    min-width: auto;
    font-size: 0.9em;
    border-radius: 0;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1)
}

.card-close .dropdown-menu a {
    color: #999 !important
}

.card-close .dropdown-menu a:hover {
    background: #796AEE;
    color: #fff !important
}

.page-item.active .page-link {
    background-color: #344A9B;
    border-color: #344A9B;
}

.page-link, a, a:hover {
    color: #344A9B
}

.card-close .dropdown-menu a i {
    margin-right: 10px;
    -webkit-transition: none;
    transition: none
}

.clickable-row {
    cursor: pointer;
}

.clickable-row p {
    margin-bottom: 0;
}

.table tbody tr.overdue-yes {
    color: #772b35;
    background-color: #fadddd;
    border-color: #f8cfcf;
}

.table .clickable-row:hover {
    background-color: #e0e0e0;
}

.top-bar-claims .alert {
    margin-bottom: 0;
}

.datatable tr {
    cursor: pointer;
}

.nav-item-create {
    background-color: #2eb85c;
}

.reset-multiSelect {
    font-size: 11.5px;
    cursor: pointer;
    float: right;
}

#js-message {
    display: none;
}

.custom-alert {
    top: 25px;
    right: 25px;
    z-index: 9999;
}

#current-status {
    color: white;
    background-color: #344A9B;
    border: none;
}

.nounderline {
    text-decoration: none !important;
}

.media-box {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.media-box > * {
    width: calc(50% - 5px);
}

.media-box > * > img {
    width: 100%;
    height: auto;
}